<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farshidabz.spnote">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.ui.mainpage.MainPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainPageActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ui.note.NoteActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoteActivitiesTheme" />
        <activity
            android:name=".view.ui.movetofolder.MoveToFolderActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>